.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 60px;
    transition: 0.5s;
}
.logout {
    padding-top: 500px;
}

.sidenav a {
    padding: 8px 8px 8px 3.5rem;
    text-decoration: none;
    font-size: 25px;
    font-family: "Poppins-Black";
    color: #818181;
    display: block;
    justify-content: end;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.count-data {
    width: 350px;
    padding: 30px;
    background-color: black;
    color: white;
    transition: transform 0.2s;
}
.count-data h1 {
    padding-top: 10px;
    font-family: "Poppins-Regular";
}

.count-data:hover {
    transform: scale(1.1);
}

.main-data {
    padding: 0;
    margin-top: 20px;
    max-height: 900px;
    overflow: hidden;
}

.add-data {
    margin-top: 15px;
    margin-left: 240px;
}
.buttonData {
    margin: 10px;
    width: 400px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.const {
    margin: 200px;
    padding-left: 500px;
}

.alert-box {
    position: absolute;
    top: 0;
    width: calc(100vw - 250px);
    border-radius: 0 !important;
    margin-left: 250px;
}
.alert-box > p {
    margin: 0 !important;
    font-family: "Poppins-Medium";
}

.heading-register {
    margin-left: 1rem;
    font-family: "Poppins-Black";
}

.w-100 {
    width: 98% !important;
}

.student-table {
    margin-left: 100px;
    max-height: 800px;
    overflow-y: auto;
}
.student-header {
    margin-left: 50px;
}
