{% extends "teacher.html" %}
{%block scripts%}
<script src="{{ url_for('static', filename = 'Javascript/new.js') }}"></script>
{%endblock%}
{% block title%} Students {% endblock%}
{%block dataBlock %}
<div class="container main-data">
    <h1>Student's List</h1>
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Class</th>
                    <th scope="col">E-Mail</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range (0 ,(studentData)|length )%}
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{studentData[i]["name"]}}</td>
                    <td>{{studentData[i]["class"]}}</td>
                    <td>{{studentData[i]["email"]}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
{%endblock%}