<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Page</title>
    {%block scripts%}
    <script src="{{ url_for('static', filename = 'Javascript/dialog.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {%endblock%}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/animation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/form.css') }}">


</head>


<body>
    <!-- Side nav -->
    <nav>
        <div id="mySidenav" class="sidenav">
            <div>
                <a href="/adminpage" {{home_active}}>Home</a>
                <a href="/studentlist" {{studentList_active}}>Students</a>
                <a href="/addstudent" {{addPage_active}}>Student +</a>
                <a href="/ld" {{ld_active}}>LD</a>
                <a href="/non-ld" {{non_ld_active}}>Non-LD</a>
            </div>
            <div class="logout">
                <a href="/login">Logout</a>
            </div>
        </div>
    </nav>
    {%block dataBlock%}

    <div class="container w-100">

        <div class="container  main-data">
            <h1>Hi {{adminName}}</h1>
            <div class="container w-100" id="counter">
                <div class="row">
                    <div class=" count-data card col-md-6 mt-5 mr-5 mb-5">
                        <h1 id='0101' class="fs-2 text-light">0</h1>
                        <h1 class="text-light fs-2">Total Students</h1>
                    </div>
                    <div class="count-data card col-md-6 m-5">
                        <h1 id='0102' class="fs-2 text-light">0</h1>
                        <h1 class="text-light fs-2">Assignments pending</h1>
                    </div>
                    <div class="count-data card col-md-6 mt-5 mb-5 ml-0">
                        <h1 id='0103' class="fs-2 text-light">0</h1>
                        <h1 class="text-light fs-2">Assignments Completed</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animation-box container">
    </div>
    <div class="add-data container row">
        <a href="/addstudent" class="col-md-4 ">
            <div class="card  buttonData">
                <button class="btn btn-secondary w-50">ADD STUDENT</button>
            </div>
        </a>
        <a href="ld" class="col-md-4 ">
            <div class="card  buttonData">
                <button class="btn btn-secondary w-50">LD STUDENT'S</button>
            </div>
        </a>
        <a href="non-ld" class="col-md-4 ">
            <div class="card buttonData">
                <button class="btn btn-secondary w-50">NON-LD STUDENT'S</button>
            </div>
        </a>
    </div>
    {%endblock%}
</body>


</html>